<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
</head>
<body>
    <div class="container">
        <form th:object="${product}" th:action="@{/product/save}" method="post">
            <label>
                <input th:field="*{id}" readonly>
            </label>
            <label>
                <input th:field="*{manufacturerName}">
            </label>
            <label>
                <input th:field="*{name}">
            </label>
            <label>
                <input th:field="*{description}">
            </label>
            <label>
                <select th:field="*{status}">
                    <option value="ACTIVE">ACTIVE</option>
                    <option value="INACTIVE">IN ACTIVE</option>
                    <option value="PAUSE">PAUSE</option>
                </select>
            </label>
            <label>
                <input th:field="*{unit}">
            </label>
            <input type="submit" value="Update">
        </form>
    </div>
</body>
</html>